body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input {
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  display: none;
}

.login__container {
  background-color: #f0f2f5;
  display: grid;
  grid-template-columns: 55% 45%;
  height: 100vh;
  width: 100vw;
}

.login__logo {
  width: 10.25rem;
  padding-left: 2.125rem;
}

.login__logo img {
  width: 10.25rem !important;
}

.login__welcome {
  padding-left: 10.5rem;
  padding-top: 13.5rem;
}

.login__welcome img {
  width: 18.75rem;
}

.mt-18 {
  margin-top: -1.125rem;
}

.login__welcome p {
  font-size: 2rem;
  padding-left: 2.125rem;
}

.login__form-container {
  padding-top: 6.5rem;
}

.login__form {
  background-color: #fff;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  padding: 1.25rem;
  width: 24.75rem;
}

.login__form input {
  border: 1px solid #e5e7eb;
  font-size: 1rem;
  margin-bottom: 0.75rem;
  padding: 0.875rem 1rem;
  width: 100%;
}

.login__submit-btn {
  background-color: #404eed;
  border: 0;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  outline: none;
  padding: 0.875rem 1rem;
  width: 100%;
}

.login__submit-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.login__forgot-password {
  border-bottom: 1px solid #e5e7eb;
  color: #2563eb;
  display: block;
  font-size: 0.9375rem;
  padding: 1.25rem 0;
  text-align: center;
}

.login__forgot-password:hover {
  cursor: pointer;
}

.login__signup {
  color: #2563eb;
  display: block;
  font-size: 0.9375rem;
  padding: 1.25rem 0;
  text-align: center;
}

.login__signup:hover {
  cursor: pointer;
  opacity: 0.8;
}

.loading {
  background-color: rgba(255, 255, 255, 0.8);
  display: block; /* Hidden by default */
  height: 100%; /* Full height */
  left: 0;
  /* overflow: auto; */
  position: fixed; /* Stay in place */
  top: 0;
  width: 100%; /* Full width */
  z-index: 1000; /* Sit on top */
}

.lds-roller {
  display: inline-block;
  height: 5rem;
  left: 48%;
  position: fixed;
  top: 50%;
  width: 5rem;
  z-index: 100;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #404eed;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* The Modal (background) */
.signup {
  background-color: rgba(255, 255, 255, 0.8);
  display: block; /* Hidden by default */
  height: 100%; /* Full height */
  left: 0;
  /* overflow: auto; */
  position: fixed; /* Stay in place */
  top: 0;
  width: 100%; /* Full width */
  z-index: 1; /* Sit on top */
}

/* Modal Content/Box */
.signup__content {
  background-color: #fefefe;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  margin: 15% auto; /* 15% from the top and centered */
  margin-top: 10%;
  width: 27rem; /* Could be more or less, depending on screen size */
}

.signup__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.signup__title {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1.25rem 0 0.5rem 1.25rem;
}

.signup__close {
  align-items: center;
  display: grid;
  justify-items: right;
  padding: 1.25rem 1.25rem 0.5rem 0;
}

.signup__close img:hover {
  cursor: pointer;
}

.signup__subtitle {
  background: #e5e7eb;
  height: 1px;
  margin-bottom: 0.5rem;
  width: 100%;
}

.signup__form {
  width: 100%;
  padding: 1.25rem;
}

.signup__form input {
  background-color: #f3f4f6;
  border: 1px solid #e5e7eb;
  display: block;
  font-size: 0.9375rem;
  margin-bottom: 0.75rem;
  padding: 0.875rem 1rem;
  width: 100%;
}

.signup__form select {
  background-color: #f3f4f6;
  border: 1px solid #e5e7eb;
  display: block;
  font-size: 0.9375rem;
  height: 2.625rem;
  margin-bottom: 0.75rem;
  outline: none;
  padding: 0 1rem;
  width: 100%;
}

.signup__btn {
  background-color: #404eed;
  border: 0;
  color: #fff;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin: 1.25rem auto;
  outline: none;
  padding: 0.875rem 1rem;
}

.signup__btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.header {
  background: #404eed;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 3.5rem;
  width: 100%;
}

.header__left {
  align-items: center;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: max-content max-content;
  padding-left: 0.75rem;
}

.header__left img {
  width: 3.25rem;
}

.header__right {
  align-items: center;
  color: white;
  display: grid;
  grid-gap: 0.75rem;
  grid-template-columns: max-content max-content max-content;
  justify-content: right;
  padding-right: 0.75rem;
}

.header__logout {
  align-items: center;
  color: #fff;
  display: grid;
  justify-content: right;
  padding-right: 0.75rem;
}

.header__right img {
  width: 1.5rem;
}

.header__logout span:hover {
  cursor: pointer;
  opacity: 0.8;
}

.home__menu {
  background: #202225;
  bottom: 0;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  width: 5rem;
}

.home__menu-item {
  align-items: center;
  background: #374151;
  border-radius: 50%;
  border-radius: 50%;
  display: grid;
  height: 3rem;
  justify-content: center;
  margin: 1rem 0;
  width: 3rem;
}

.home__menu-item:hover {
  cursor: pointer;
  opacity: 0.8;
}

.home__menu-item > svg {
  color: #fff;
}

.home__menu-item--active {
  background: #404eed;
}

.home__sidebar {
  background: #2e3136;
  bottom: 0;
  left: 5rem;
  position: fixed;
  top: 0;
  width: 248px;
}

.home__sidebar h3 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 800;
  padding: 1rem;
}

.home__sidebar-item {
  color: #87888c;
  display: grid;
  font-weight: bold;
  grid-gap: 1rem;
  grid-template-columns: max-content auto;
  padding: 0.5rem 0.75rem;
  margin: 0 0.75rem;
}

.home__sidebar-item:hover {
  cursor: pointer;
  opacity: 0.8;
}

.home__sidebar-item--active {
  background: #404eed;
  border-radius: 0.5rem;
  color: #fff;
}

.home__sidebar-item span {
  padding-top: 0.1875rem;
}

.home__main {
  background: #36393e;
  margin-left: 20.5rem;
  min-height: 100vh;
  padding: 1rem 2rem;
  width: calc(100% - 20.5rem);
}

.home__search {
  position: relative;
}

.home__search img {
  width: 100%;
  height: auto;
}

.home__search-content {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  margin-top: 5.5rem;
  position: absolute;
  right: 0;
  top: 0;
}

.home__search-content h3 {
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.home__search-content p {
  color: #fff;
  padding: 0.5rem;
}

.home__search-input {
  margin: 0.5rem;
  position: relative;
  width: 27rem;
}

.home__search-input input {
  border-radius: 0.25rem;
  border: none;
  font-size: 1rem;
  outline: none;
  padding: 0.75rem;
  width: 100%;
}

.home__search-input svg {
  color: #95989d;
  position: absolute;
  top: 20%;
  right: 2%;
}

.fc__container h3 {
  color: #fff;
  font-size: 1.25rem;
  padding: 1rem 0;
}

.fc__list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.fc__list-item {
  border-radius: 0.5rem;
  background: #2e3136;
  position: relative;
  height: 17.5rem;
}

.fc__list-item img {
  width: 100%;
  height: auto;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.fc__list-item-title {
  color: #fff;
  font-weight: bold;
  padding: 0.5rem;
  display: inline-block;
  font-size: 0.9375rem;
}

.fc__list-item-description {
  color: #b8bbbe;
  font-size: 0.8125rem;
  padding: 0 0.5rem;
}

.fc__list-item-n-members {
  color: #b8bbbe;
  position: absolute;
  bottom: 0.5rem;
  left: 1.5rem;
  font-size: 0.8125rem;
}

.fc__indicator {
  background-color: #b8bbbe;
  border-radius: 50%;
  height: 0.5rem;
  position: absolute;
  bottom: 0.75rem;
  left: 0.5rem;
  width: 0.5rem;
}

/* The Modal (background) */
.cs {
  background-color: rgba(0, 0, 0, 0.8);
  display: block; /* Hidden by default */
  height: 100%; /* Full height */
  left: 0;
  /* overflow: auto; */
  position: fixed; /* Stay in place */
  top: 0;
  width: 100%; /* Full width */
  z-index: 1; /* Sit on top */
}

/* Modal Content/Box */
.cs__content {
  background-color: #fefefe;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  margin: 15% auto;
  margin-top: 5%;
  padding-bottom: 1rem;
  width: 27rem;
  max-height: 30.9375rem;
  overflow: auto;
}

.cs__title {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1.25rem 0 0.5rem 1.25rem;
}

.cs__close {
  align-items: center;
  display: grid;
  justify-items: right;
  padding: 1.25rem 1.25rem 0.5rem 0;
}

.cs__close:hover {
  cursor: pointer;
}

.cs__subtitle {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: -1.125rem;
  text-align: center;
}

.cs__description {
  color: #757a83;
  font-size: 14px;
  padding: 1rem 0.75rem;
  text-align: center;
}

.cs__list-title {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem 0.75rem;
  color: #4e5660;
}

.cs__li {
  align-items: center;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0.75rem;
  padding: 0.5rem 0.75rem;
}

.cs__li:hover {
  cursor: pointer;
  opacity: 0.8;
}

.cs__li-left {
  align-items: center;
  display: grid;
  grid-gap: 0.75rem;
  grid-template-columns: max-content max-content;
}

.cs__li-left span {
  color: #2E3337;
  font-weight: bold;
}

.cs__li-right {
  display: grid;
  justify-content: right;
}
